Q1. What are the characteristics of the tuples? Is tuple immutable?

Answer1.  Tuples are ordered collections of elements, similar to lists. 
Yes, Tuples are immutable.

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Answer2. There are two tuple methods count() and index() that a tuple object can call.
Example - 1. count()
t = (1, 2, 3, 2, 4, 5, 2)
print(t.count(2))  # Output: 3

Example - 2. index()
t = (1, 2, 3, 2, 4, 5, 2)
print(t.index(2))  # Output: 1

**Tuples have fewer in-built methods than lists because they are designed to be immutable and used for storing fixed sequences of elements

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Answer3. Set is a collection in python doesn't allow the duplicate items.

Code - 

list = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
       
       set(list) #output: [1,2,3,4]

In [22]:
list = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [23]:
set(list)

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

Answer 4. The union() method returns a new set that contains all the unique elements from both sets without modifying the original sets. It takes one argument, which can be a set, list, tuple or any iterable. If any element is present in both sets, it will only appear once in the output set.
Example - 
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

print(union_set)  # Output: {1, 2, 3, 4, 5}

In this example, the union() method is called on set1 with set2 as the argument. The resulting set union_set contains all the unique elements from both sets, which are {1, 2, 3, 4, 5}.

On the other hand, the update() method modifies the original set by adding all the elements from another set to it. It also takes one argument, which can be a set, list, tuple, or any iterable. If any element is present in both sets, it will only appear once in the updated set.

Example - 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print(set1)  # Output: {1, 2, 3, 4, 5}


In summary, the main difference between union() and update() methods is that union() returns a new set without modifying the original sets, while update() modifies the original set by adding all the elements from another set to it.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [29]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [31]:
set1.update(set2)

In [32]:
set1

{1, 2, 3, 4, 5}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Answer5 . A dictionary is a built-in data type that stores a collection of key-value pairs. Each key in the dictionary maps to a corresponding value, much like a real-world dictionary maps words to their definitions.

Example - d1 = {"name" : "Suraj", "email_id" : "msuraj20@yahoo.com", "number" : 9650194652} 

Also, dictionaries are unordered collections of key-value pairs. This means that the order in which the keys and values are added to the dictionary is not preserved.

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Answer6. Yes, we can create a nested dictionary.
Example - One- Level nested dictionary
P = {"name": "Suraj","age": 29,"address": {"street": "8 Main St","city": "Noida","state": "UP","zip": "201301"}}

 P["address"]["city"] - #Output - 'Noida'

In [33]:
P = {"name": "Suraj","age": 29,"address": {"street": "8 Main St","city": "Noida","state": "UP","zip": "201301"}}

In [35]:
P["address"]["city"]

'Noida'

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

Answer 7. Below is the asnwer
create a dictionary

d1 = {'name': 'Alice', 'age': 30}

d1.setdefault('language', ['Python', 'Machine Learning', 'Deep Learning'])

print(d1)

In [55]:
d1 = {'name': 'Alice', 'age': 30}

In [58]:
d1.setdefault('language', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [59]:
d1

{'name': 'Alice',
 'age': 30,
 'topics': ['Python', 'Machine Learning', 'Deep Learning'],
 'language': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Answer8. Three view objects in dictionaries are as mentioned bwlow.
1. d1.keys()
2. d1.values()
3. d1.items()
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [61]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [62]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [63]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [64]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [65]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])